# Banco
DATABASE_URL='postgresql://neondb_owner:npg_ZyJzkuXlhw79@ep-wandering-leaf-any0gp61-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# Flask
SECRET_KEY=200257
ADMIN_PASSWORD=admin123
